
.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
 

}

h1{
  font-family: 'Croissant One', cursive;
  color:#FFFFDD;
}
.top{
  height: 200px;
  width: 80%;
  background-color:#016A70;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  box-shadow: 4px 3px 7px 2px #00000040;
  box-sizing: border-box;
  border-radius: 20px;
  background-image: radial-gradient(#FFFFDD 7.77%,transparent 0);
  background-size: 25px 25px;
 }
 .addbtn{
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 100px;
  float:right;
  margin-top: 15px;
  background-color: #FFFFDD;
  color: #016A70;
  font-size: 15px;
 }
 .bottom{
  background-color:#EDF1D6;
  height: 100vh;
  width: 80%;
  top:220px;
  position: relative;
  /* box-shadow: 4px 3px 7px 2px #00000040; */
  
 }
 .bottom li{
  text-align: left;
  margin-left: 40px;
  font-size: 20px;
  padding: 20px;
  color: #016A70;
 }
 .bottom button{
  border: none;
  background-color:transparent;
  color: #016A70;
  font-size: 20px;
  float:right;
  margin-top: -40px;
  margin-right: 40px;
 }
 
 .top input {
  height: 30px;
 max-width: 200px;
 min-width: 400px;
  border: none;
  font-size: 15px;
 }